body {
    font-family: 'Roboto', sans-serif; 
}

.content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 90%;
    margin: 0 auto; 
} 

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px; 
    content: ""; 
}

.legend {
    margin: 0 30px; 
    border-right: 2px solid black;
}

.title {
    font-size: 70px; 
    font-weight: 100; 
    width: 75%;
    text-align: center; 
    margin:  40px 0 20px 0; 
} 

.main, .tooltip {
    font-size: 12px; 
}

.input {
    font-size: 14px;
}

.fields {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(87, 85, 85); 
    font-weight: 600; 
    font-size: 14px; 
}

.fields > p {
    margin: 8px; 
}

input {
    border: none;  
    font-size: 14px;  
    border-bottom: 1px solid black; 
    padding: 5px; 
}

input:focus {
    outline: none; 
}

form {
    margin-right: 40px;  
}

#submit {
    color: rgb(87, 85, 85); 
    font-weight: 600; 
    font-size: 14px; 
    border: 1px solid rgb(87, 85, 85); 
    padding: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    border-radius: 16px; 
}

#submit:hover {
    cursor: pointer; 
    color: black;
}

.button {
    padding: 8px;
    padding-left: 12px; 
    padding-right: 12px;
    margin: 8px;
}

.button:hover {
    cursor: pointer; 
    transition-duration: 0.4s;
    transition-delay: 0.1s; 
    color: black; 
}

.selected {
    border-bottom: 1px solid black; 
}

.map {
    margin-top: 15px;
    margin-bottom: 15px; 
    width: 950px;
    height: 0px; 
    transition-duration: 0.4s; 
}

.show-map {
    height: 600px; 
}

.map-button {
    margin-top: 45px; 
}

.state {
    stroke: #efefef;  
}

.state:hover {
    opacity: 0.5;
}
